<footer>

    <div class="container-fluid">
        
        <div class="row">
    

            <div class="page-footer">
                
                <div class="footer-links text-center">
                
                    <a href="https://www.facebook.com/MachineLearningAcademy/">
                        <img src="/mla.github.io/assets/images/facebook_footer_mla.png" style="width: 40px; height: 40px; margin-top: 2%;">
                    </a>
                    
                    <a href="https://github.com/MachineLearningAcademy">
                        <img src="/mla.github.io/assets/images/github_footer_mla.png" style="width: 55px; height: 55px; margin-top: 2%;">
                    </a>
                    
                    <a href="https://www.instagram.com/machinelearningacademy/">
                        <img src="/mla.github.io/assets/images/instagramicon_footer_mla.png" style="width: 40px; height: 40px; margin-top: 2%;">
                    </a>
                    
                    &nbsp;
                    
                    <a href="https://www.linkedin.com/company/11073476/">
                        <img src="/mla.github.io/assets/images/linkedin_footer_mla.png" style="width: 40px; height: 40px; margin-top: 2%;">
                    </a>
                
                </div>

            </div>
            
        </div>
    
    </div>
        
    
        

</footer>