<script>
    if ( $(window).width() > 768) {      
        $( document ).ready(function() {
        var heights = $(".well").map(function() {
            return $(this).height();
        }).get(),

        maxHeight = Math.max.apply(null, heights);

        $(".well").height(maxHeight);
        }); 
    } 
    else {
     
    }
    
    
</script>


<div class="container">
    
    <div class="title-container">

        <div class="title">

            <p><h1>Machine Learning Academy</h1>

        </div>

        <div class="title-motto">
            <p><h3>Learning data science together!</h3>
        </div>


    </div>

    <div class="row homepage-space">   

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row-bottom">

            {% for post in site.categories.blog limit 1 %}

            <div class="well" {% if post.image %} style="background-image: url({{ post.image }})" {% endif %}>

                <div class="preview-space">

                    <div>   </div>

                    <div class="text-center preview-blog">BLOG</div>
                    <div class="preview-divider"></div>

                    <div class="text-center text-uppercase">

                        <a href="{{ site.baseurl }}{{ post.url }}" class="preview-title">{{ post.title }}</a>

                    </div>

                    <div class="text-center preview-author-date">

                        by&nbsp;&nbsp;<span>{{ post.author }}</span> &nbsp; &bull; &nbsp; <span>{{ post.date | date_to_string }}</span>

                    </div>

                    <div class="preview-content">

                        <p>{{post.content | strip_html | truncatewords:40}} &nbsp; <a href="{{ site.baseurl }}{{ post.url }}" class="preview-continue">(Continue Reading)</a>

                    </div>

                </div>

            </div>

            {% endfor %}

        </div>


        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row-bottom">

            {% for post in site.categories.events limit 1 %}

            <div class="well" {% if post.image %} style="background-image: url({{ post.image }}); background-size: cover; background-repeat: no-repeat;" {% endif %}>

                <div class="preview-space">

                    <div>   </div>
                    
                    <div class="text-center preview-blog">EVENTS</div>
                    <div class="preview-divider"></div>

                    <div class="preview-date text-center">
                        <div class="date-month">
                            {{ post.month }}
                        </div>

                        <div class="date-day">
                            {{ post.day }}
                        </div>
                    </div>
                    
                

                    <div class="text-center text-uppercase">

                        <a href="{{ site.baseurl }}{{ post.url }}" class="preview-title">{{ post.title }}</a>

                    </div>

                    <div class="preview-content">

                        <p>{{post.content | strip_html | truncatewords:40}} &nbsp; <a href="{{ site.baseurl }}{{ post.url }}" class="preview-continue">(Continue Reading)</a>

                    </div>

                    <div class="facebook-event">
                        <a href="#"></a>
                    </div>
                    
                </div>
                
            </div>

            {% endfor %}

        </div>


    </div> 
    
</div>