<div class="container">
    
    <div class="title-container">

        <div class="title">

            <p><h1>Machine Learning Academy</h1>

        </div>

        <div class="title-motto">
            <p><h3>Learning data science together!</h3>
        </div>


    </div>

    <div class="homepage-space">

        <!---  
        <section class="page-wrapper">
            {{content}}
        </section>

        --->

        <div class="row">


            <!---


            <div class="col-md-6">

                <div class="blog-posts-preview">

                    {% if site.posts.size > 0 %}
                        <ul>
                        {% for post in site.posts %}
                            <li>
                                <a href="{{ post.url }}">
                                    <h2>{{ post.title }}</h2>
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                        {% else %}
                        <p>There are no posts available right. Come back soon!</p>
                    {% endif %}

                </div>

            </div>


            <div class="col-md-offset-6">

                <div class="events-preview"> what </div>



            </div>

        </div>  

        --->

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row-bottom">

                {% for post in site.posts limit 1 %}

                <div class="well" {% if post.image %} style="background-image: url({{ post.image }})" {% endif %}>

                    <div class="preview-space">
                        
                        <div>   </div>
                        
                        <div class="text-center preview-blog">BLOG</div>
                        <div class="preview-divider"></div>
                        
                        <div class="text-center text-uppercase">
                            
                            <a href="{{ site.baseurl }}{{ post.url }}" class="preview-title">{{ post.title }}</a>
                            
                        </div>
                        
                        <div class="text-center preview-author-date">

                            by&nbsp;&nbsp;<span>{{ post.author }}</span> &nbsp; &bull; &nbsp; <span>{{ post.date | date_to_string }}</span>
                            
                        </div>
                        
                        <div class="preview-content">

                            <p>{{post.content | strip_html | truncatewords:40}} &nbsp; <a href="{{ site.baseurl }}{{ post.url }}" class="preview-continue">(Continue Reading)</a>
                            
                        </div>

                    </div>

                </div>

                {% endfor %}

            </div>


            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row-bottom">


                {% for post in site.posts limit 1 %}

                <div class="well well-lg" {% if post.image %} style="background-image: url({{ post.image }})" {% endif %}>

                    <div class="blog-posts-preview-background">

                        <div class="blog-posts-preview-content well well-lg">

                            <ul>

                                <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>

                                    {{post.content | strip_html | truncatewords:20}}<br>

                                    <a href="{{ site.baseurl }}{{ post.url }}">Read more...</a><br><br>


                            </ul>

                        </div>

                    </div>


                </div>

                {% endfor %}

            </div>


        </div>


    </div>

</div> 