body {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
}

.title {
    font-weight: 100;
    color: white;
}

.header-opacity {
    background-color:rgba(0, 0, 0, 0.8);
    background-blend-mode: soft-light;
    border-color: transparent;
}


.full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
}

.navbar-changes {
    height: 100px;
    border-radius: 0px;
}

.navbar-toggle-changes {
    margin-top: 5%;
}

.nav-changes {
    border-color: transparent;
}